<div class="container">
  <div class="row">
    <div class="col-lg-6 landing-left ">
      
         <%= render 'devise/shared/dummyphone'%>
    </div>
     

    <div class="col-lg-6 landing-right text-center d-flex align-items-center">
         <div class="form-login box">
          <h3 class="allicons brand-name-img"></h3>


            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
<!-- 
              <div class="mb-3">
                <% f.label :name %>
                <%= f.text_field :name,  autocomplete: "name" ,placeholder: 'User name' , class: "form-control" %>
              </div>
 -->
              <div class="mb-3">
                <% f.label :email %>
                <%= f.email_field :email,  autocomplete: "email" ,placeholder: 'Email' , class: "form-control" %>
              </div>

              <div class="field">
                <%f.label :password %>
                
                <%= f.password_field :password, autocomplete: "new-password" ,placeholder: 'password' , class: "form-control"%>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
              </div>

              <div class="mb-3">
                <%f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password" ,placeholder: 'confirm password' , class: "form-control"%>
              </div>

              <div class="actions mb-3">
                <%= f.submit "Sign up" ,class: "btn btn-outline-primary btn-primary-color py-2"%>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
        </div>
    </div>
  </div>
  
</div>



